<div class="row justify-content-start align-items-center">
    {% for event in include.events %}
    	{% if forloop.length == 1 %}
	<div class="grid_item col-xs-12 col-sm-4 col-sm-offset-4">
    	{% else %}
		    {% assign mod = forloop.index0 | modulo:2 %}
			{% if mod == 0 %}
	<div class="grid_item col-xs-12 col-sm-4 col-sm-offset-2">
			{% else %}
	<div class="grid_item col-xs-12 col-sm-4">
			{% endif %}
		{% endif %}
		<div class="event">
			{% if event.url != nil %}
			<a href="{{event.url}}" rel="noopener" target="_blank">
			{% endif %}
			<span class="wow bounceIn name">{{event.name}}</span>
			{% if event.url != nil %}
			</a>
			{% endif %}
		</div>
	</div>
	{% endfor %}
</div>