<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="section-heading">A family of <a href="https://www.hackergarten.net/" rel="noopener" target="_blank">Hackergarten</a> events</h2>
                <hr class="light">
                <p class="text-left"><a href="https://hack-commit-pu.sh" rel="noopener" target="_blank">hack-commit-push</a> is a series of events inviting attendees to start contributing to Free/Open Source projects with the help of their maintainers.<br /> 
                Get together, support free/open source projects by fixing issues and adding new features and most of all learn and have fun.</p>
                <p class="text-left">The event is open to every everyone, regardless of their experience.</p>
                <p class="text-left">Every contribution counts!</p>
            </div>
        </div>
    </div>
</section>
