<section id="leads">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary"></i>
                <h2 class="section-heading">Protips for project leads</h2>
                <hr class="primary">
                <h3 class="text-left">How to become one</h3>
                <p class="text-left">
                	You do not need to be the owner of an open-source project to be accepted as a project lead. However, you must contribute regularly and be knowledgeable about the entire codebase.
                	If you meet these criteria, simply contact one of the organizers listed in the event page.
            	</p>
                <h3 class="text-left">Before the event starts</h3>
                <p class="text-left">
                	Promote the event and your project to attract contributors!<br/>
                	One way to do that is to prepare a small video or standalone slideshow to explain:
                </p>
            	<ul class="text-left">
            		<li>what your project is about</li>
            		<li>the kind of contributions you are looking for</li>
            		<li>any prerequisites</li>
            	</ul>
                <p class="text-left">
                	Here is an excellent example of a <a href="https://drive.google.com/file/d/1tPkAYkBFjy4O1Zr3qWQv2k9GKU9tkBXb/view" rel="noopener" target="_blank">short video introduction</a> of the Kubernetes documentation translation project.
			Or an example of a <a href="https://docs.google.com/presentation/d/1exCQVl8A9_Ip6PFuTuUIUiRv7nlccmamXgo1wP_UOSg/edit?usp=sharing">slideshow</a>.
                </p>
                <p class="text-left">
                	hack-commit-push events aim at being inclusive.
                	This means you will likely collaborate with people of heterogeneous experience.
                	We advise you to prepare a backlog of issues of varying difficulty.
                	If your project requires some prior knowledge that would take too long to explain during the event, be very explicit about it in your presentation.
                </p>
                <p class="text-left">
                	If the event is virtual, make sure to be available at some point to get familiar with the tooling.
                	If the event happens in a centralized location, make sure to arrive a bit earlier to get familiar with the place, so that you can help contributors find their way.
                </p>
                <h3 class="text-left">During the event</h3>
                <p class="text-left">
                	Congratulations, you prepared a presentation and attracted many contributors.
                	You have come with colleagues so each of you can focus on a couple of contributors.
                	You can start with some general information about the project and then split into smaller groups to work on contributions. Contributors can work in pairs (or more). This usually helps people getting started, especially if they feel a bit nervous working alone on something completely new for them!<br />
                	Take some breaks, enjoy the collaborations and have fun!
                </p>
                <p class="text-left">
                	Some events have training sessions on technical topics (e.g. Git).
                	This means that you must be ready to welcome new contributors in the middle of the event, once they completed their training.
                </p>
                <h3 class="text-left">After the event</h3>
                <p class="text-left">
                	Please send to the organizers a recap of the contributions done during the event.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contributors">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <i class="fa fa-4x fa-laptop wow bounceIn text-primary"></i>
                <h2 class="section-heading">Protips for contributors</h2>
                <hr class="primary">
                <h3 class="text-left">Do I qualify?</h3>
                <p class="text-left">
                	Short answer: yes, you do!
                </p>
                <p class="text-left">
                	hack-commit-push events welcome people of all backgrounds and experiences.
                	You do not need to be an expert to start contributing to the project of your choice.
                	Project leads will help you ramp up and answer any question you may have.
                	This is a golden opportunity for you to learn about a new technical environment, 
                	new practices and give back to a project at the same time. Everyone wins!
                </p>
                <h3 class="text-left">Before the event starts</h3>
                <p class="text-left">
                	Share the event with your friends and colleagues!
                	The more, the merrier!
                </p>
                <p class="text-left">
                	Regularly scan the event's project list and see which ones are the most likely to interest you.
                	You can even start "tipping your toes" by setting up the prerequisites on your laptop and reading the project documentation.
                </p>
                <p class="text-left">
                	If you are on a budget and live far away from the event location, some events offer financial help for transportation. Reach out to the event organizers.
                </p>
				<h3 class="text-left">During the event</h3>
                <p class="text-left">
                	Some events include trainings at the beginning (e.g. on Git).
                	Feel free to attend and join a project later.
                </p>
                <p class="text-left">
                	You do not have to work solo on a contribution. It may be more fun (and less intimidating) to learn with other attendees.
                </p>
				<h3 class="text-left">After the event</h3>
                <p class="text-left">
                	If you liked the experience and the project you worked on, feel free to continue your contributions!<br/>
                	If you are lucky, there will be a <a href="https://www.hackergarten.net/" rel="noopener" target="_blank">Hackergarten meetup</a> in your city. They usually occur one evening per month, in small groups, following the same organization as hack-commit-push events.<br/>
                	If not, you can always start a new chapter and attract leads and contributors on a monthly basis. You can reach out to hack-commit-push organizers, they will be happy to help!
                </p>
            </div>
        </div>
    </div>
</section>
