<section class="events" id="past">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
				<div class="team_group row text-center">
					<h2 class="section-heading">Past events</h2>
					<hr class="light">
				</div>
                {% assign now = 'now' | date: '%s' | to_integer %}
                {% assign past_events = site.data.events | where_exp:"event", "event.end_timestamp_millis < now" %}
                {% include _events.html events=past_events %}
            </div>
        </div>
    </div>
</section>