<section class="events" id="upcoming">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
				<div class="team_group row text-center">
					<h2 class="section-heading">Upcoming events</h2>
					<hr class="light">
				</div>
                {% if site.data.events.upcoming.size == 0 %}
                <div class="grid_item col-12 no-events">
                    <p>Follow our <a rel="noopener" target="_blank" class="page-scroll" href="https://twitter.com/{{site.twitter_username}}">Twitter account</a> to stay in touch!</p>
                </div>
                {% else %}
                {% assign now = 'now' | date: '%s' | to_integer %}
                {% assign upcoming_events = site.data.events | where_exp:"event", "event.end_timestamp_millis >= now" %}
                {% include _events.html events=upcoming_events %}
                {% endif %}
            </div>
        </div>
    </div>
</section>